* {
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	min-width: 320px;
}

.wrapper {
	max-width: 1240px;
	padding: 20px 0;
	margin: 0 auto;
}

.title {
	font-size: 48px;
	line-height: 52px;
	font-family: 'Alegreya', serif;
	font-weight: 700;
	letter-spacing: 1.2px;
	color: #56534c;
}

.sub-title {
	text-transform: uppercase;
	font-family: 'Alegreya', serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 1.4px;
	color: #a47d5e;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

body {
	font-size: 14px;
	line-height: 20px;
	font-family: 'ProximaNovaT-Regular', 'Arial', sans-serif;
	color: #56534c;
	color: #fff;
	overflow-x: hidden;
}
