.breakfast {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../../img/breakfast/breakfast-bg.jpg'),
	padding: 67px 0 71px;
	overflow-x: hidden;
}

.breakfast-wrap {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;sx
	display: -webkit-box;
	display: flex;
	justify-content: space-around;
}

.breakfast-left {
	flex-basis: 320px;
	text-align: center;
}

.breakfast-left-top {
	margin-bottom: 57px;
}

.breakfast-left .title {
	font-size: 60px;
	line-height: 56px;
	letter-spacing: 3px;
	color: #fff;
}

.breakfast-left .sub-title {
	font-size: 18px;
	letter-spacing: 0.9px;
	color: #d8bba3;
}

[class^="left-inner-block-"] p:nth-child(1) {
	font-family: 'Alegreya', serif;
	font-weight: 700;
	font-size: 30px;
	line-height: 30px;
	letter-spacing: 1.5px;
}

[class^="left-inner-block-"] p:nth-child(2) {
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.48px;
	color: #c2beba;
	margin: 4px 0 16px;
}

[class^="left-inner-block-"] p:nth-child(3) {
	font-family: 'Alegreya', serif;
	font-size: 36px;
	line-height: 30px;
	letter-spacing: 1.8px;
	color: #dfc691;
}

[class^="left-inner-block-"] {
	position: relative;
}

[class^="left-inner-block-"]:not(:last-child)::before {
	position: absolute;
	content: '';
	bottom: -42px;
	width: 90px;
	height: 27px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	background-image: url('../../img/breakfast/wings.png');
}

.left-inner-block-2 {
	margin: 48px 0px;
}

.breakfast-block-rigth {
	position: relative;
	flex-basis: 470px;
	margin-top: 11px;
}

/* slider */
.breakfast-rigth-slider {
	width: 500px;
}

.breakfast-rigth-slider input {
	display: none;
}

.breakfast-rigth-slider-slides {
	width: 100%;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.breakfast-rigth-slider .breakfast-rigth-slider-inner .breakfast-rigth-slider-slides label {
	position: absolute;
	width: 417px;
	height: 580px;
	-webkit-transform: scale(0.85);
	transform: scale(0.85);
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	z-index: 10;
}

.breakfast-rigth-slider .slides {
	text-align: center;
	display: block;
	width: 100%;
	height: 100%;
	background-color: #f3f1e9;
	color: #56534c;
	box-shadow: 0 0 16px 16px rgba(0, 0, 0, 0.49);
	border: 1px dashed #9e9c93;
	outline: 10px solid #f3f1e9;
}

.breakfast-rigth-slider-inner .breakfast-rigth-slider-slides .hover-btn-1 {
	left: 100px !important;
}
.breakfast-rigth-slider-inner .breakfast-rigth-slider-slides .hover-btn-2 {
	left: -100px !important;
}
.breakfast-rigth-slider-inner .breakfast-rigth-slider-slides .hover-btn-3 {
	left: 100px !important;
} 

#hover-btn-1:checked ~ .breakfast-rigth-slider-inner .breakfast-rigth-slider-slides .hover-btn-1 {
	width: 417px;
	height: 580px;
	left: 0 !important;
	-webkit-transform: scale(1);
	transform: scale(1);
	z-index: 11;
}
#hover-btn-2:checked ~ .breakfast-rigth-slider-inner .breakfast-rigth-slider-slides .hover-btn-2 {
	width: 417px;
	height: 580px;
	left: 0 !important;
	-webkit-transform: scale(1);
	transform: scale(1);
	z-index: 11;
}
#hover-btn-3:checked ~ .breakfast-rigth-slider-inner .breakfast-rigth-slider-slides .hover-btn-3 {
	width: 417px;
	height: 580px;
	left: 0 !important;
	-webkit-transform: scale(1);
	transform: scale(1);
	z-index: 11;
}

[class^="breakfast-rigth-"] .rigth-top {
	position: relative;
	max-width: 230px;
	margin: 34px auto 124px;
}

[class^="breakfast-rigth-"] .rigth-top::after {
	position: absolute;
	content: '';
	width: 59px;
	height: 59px;
	left: 50%;
	top: 33px;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	border-radius: 50%;
	border: 1px solid #c3bfbb;
	background-color: #f3f1e9;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('../../img/breakfast/bf-cake.png');
}

[class^="breakfast-rigth-"] .rigth-top p {
	text-transform: uppercase;
	font-family: 'Alegreya', serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 0.7px;
}

.rigth-top {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.rigth-top .line-b {
	position: absolute;
	left: 50%;
	top: 62px;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 344px;
	height: 1px;
	background-color: #c3bfbb;
}

.rigth-top .line-b::after,
.rigth-top .line-b::before {
	position: absolute;
	content: "";
	left: -10px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	border-radius: 50%;
	border: 1px solid #c3bfbb;
	width: 9px;
	height: 9px;
}

.rigth-top .line-b::before {
	left: auto;
	right: -10px;
}

.rigth-middle p:nth-child(1) {
	max-width: 339px;
	font-family: 'Alegreya', serif;
	font-weight: 700;
	font-size: 44px;
	line-height: 60px;
	letter-spacing: 1.1px;
	margin: 0 auto;
}

.rigth-middle p:nth-child(2) {
	max-width: 334px;
	font-family: 'ProximaNovaT-Regular';
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 0.7px;
	margin: 30px auto 45px;
}

.rigth-middle .read-btn {
	display: inline-block;
	border: 1px solid rgb(158, 156, 147);
	text-transform: uppercase;
	font-family: 'Alegreya', serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 49px;
	letter-spacing: 0.54px;
	width: 190px;
	height: 49px;
	color: #a47d5e;
	z-index: 30;
}

.rigth-middle .read-btn:hover {
	background-color: rgba(255, 255, 255, 0.47);
	color: rgba(86, 83, 76, 1);
}

.rigth-middle .read-btn:active {
	-webkit-transform: scale(0.98);
	transform: scale(0.98);
}

@media (max-width: 1200px) {
	.breakfast-wrap {
		-moz-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
		height: 1200px;
	}
	.breakfast-block-rigth {
		position: relative;
		flex-basis: 100%;	
		margin-top: 50px;
	}
	.breakfast-rigth-slider {
		position: relative;
		width: 420px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
}
