.header {
	background-position: center;
	background-size: cover;
	background-image: url('../../img/header-bg.jpg');
}

.header-wrap {
	height: 100vh;
}

.header-social,
.header-menu,
.header-line-wrap {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	        justify-content: space-between;
}

.header-line-wrap {
	padding: 23px 0;
}

.header-line {
	position: relative;
	background-color: rgba(86, 83, 76, 0.47);
	padding: 0 20px;
	z-index: 10;
}

.header-logo {
	font-family: 'Scriptina', 'Arial', sans-serif;
	font-size: 30px;
	line-height: 24px;
	letter-spacing: 9px;
	color: #fff;
	margin-top: -6px;
}

.header input {
	display: none;
}

.header label {
	position: absolute;
	right: 150px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	width: 40px;
	height: 25px;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	opacity: 0;
}

.header label:before {
	position: absolute;
	content: "";
	width: 40px;
	border-top: 3px solid #fff;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.header-menu {
	flex-basis: 773px;
	font-family: 'Alegreya', 'Arial',serif;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 4.2px;
}

.menu-item:hover {
	text-shadow: 0 0 10px rgba(255, 255, 255, 1);
} 

.header-menu a {
	text-transform: uppercase;
	color: #fff;
}

.header-menu span {
	text-transform: uppercase;
	color: #fff;
}

.header-menu .list {
	position: relative;
}

.header-menu .list a {
	white-space: nowrap;
}

.header-menu .list ul {
	position: absolute;
	width: 150px;
	text-indent: 20px;
	top: 47px;
	left: -5px;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 1);
	background-color: rgba(86, 83, 76, 0.47);
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}


.header-menu .list:hover ul  {
	visibility: visible;
	opacity: 1;
}

.header-menu .list ul li {
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.header-menu .list ul li:hover {
	background-color: rgba(255, 255, 255, 1);
}

.header-menu .list ul li:hover a {
	color: #000;
}

.header-menu .list ul li:last-child {
	border-radius: 0 0 5px 5px;
}

.header-social {
	flex-basis: 97px;
	-ms-align-self: center;
	-ms-grid-row-align: center;
	    align-self: center;
}

.header-social a {
	color: #fff;
}

.header-social a:hover {
	-webkit-transform: scale(1.06);
	        transform: scale(1.06);
	text-shadow: 0 5px 20px rgba(255, 255, 255, 1);
}

.header-middle {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	text-align: center;
}

.header-middle::before {
	position: absolute;
	content: "";
	width: 100vw;
	height: 100vh;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url('../../img/h-bg_shadow.png');
}

.header-middle::after {
	position: absolute;
	content: "";
	width: 190px;
	height: 12px;
	top: 39.6%;
	left: 50%;
	-webkit-filter: drop-shadow(0 1px 0px #3d3029);
	        filter: drop-shadow(0 1px 0px #3d3029);
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../../img/header-promo-dline.png');
	z-index: 20;
}

.header-middle-wrap {
	position: relative;
	z-index: 10;
}

.header-promo {
	width: 100vw;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 92px;
	line-height: 100px;
	letter-spacing: 6.9px;
	text-shadow: 0 1px 1px #3d3029;
}

.header-middle p:nth-child(2) {
	max-width: 550px;
	font-family: 'ProximaNovaT-Regular', 'Arial', sans-serif;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: 2.4px;
	text-shadow: 0 1px 1px #3d3029;
	margin: 132px auto 64px;
}

.header-middle-btn {
	display: inline-block;
	border: 1px dashed rgb(158, 156, 147);
	text-transform: uppercase;
	font-family: 'Alegreya', serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 48px;
	letter-spacing: 4.2px;
	background-color: rgba(86, 83, 76, 0.47);
	width: 198px;
	height: 48px;
	color: #fff;
} 

.header-middle-btn:hover {
	background-color: rgba(255, 255, 255, 0.47);
	color: rgba(86, 83, 76, 1);
}

.header-middle-btn:active {
	-webkit-transform: scale(0.98);
	        transform: scale(0.98);
}

@media (max-width: 1150px) {
	.header label {
		opacity: 1;
		z-index: 20;
	}
	.header-menu {
		position: absolute;
		right: 150px;
		width: 170px;
		top: 66px;
		border-radius: 0 0 5px 5px;
		background-color: rgba(86, 83, 76, 0.47);
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 1);
		opacity: 0;
		visibility: hidden;
		-webkit-transition: all 0.5s ease;
		transition: all 0.5s ease;
		display: block;
		z-index: 20;
	}
	.header-menu .tilda {
		margin-left: 10px;
	}
	.header-line-wrap input:checked ~ .header-menu {
		opacity: 1;
		visibility: visible;
	}
	.header-menu .list ul {
		top: 0;
		left: -150px;
		border-radius: 5px 0 5px 5px;
		box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 1);
		z-index: 1;
	}
	.header-menu .list ul li:first-child {
		border-radius: 5px 0 0 0;
	}
	.menu-item {
		display: inline-block;
		text-indent: 10px;
		-webkit-transition: all 0.2s ease;
		transition: all 0.2s ease;
	}
	.last {
		border-radius: 0 0 5px 5px;
	}
	.menu-item:hover {
		width: 100%;
		background-color: #fff;
		text-shadow: 0 0 10px rgba(255, 255, 255, 1);
		color: #000;
	} 
}

@media (max-height: 675px) {
	.header-middle {
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -40%);
		        transform: translate(-50%, -40%);
		text-align: center;
		overflow: hidden;
	}
	.header-promo {
		font-size: 50px;
		line-height: 54px;
		text-shadow: 0 1px 20px #000;
	}
	.header-middle::before,
	.header-middle::after {
		display: none;
	}
	.header-middle p:nth-child(2) {
		margin: 30px auto;
		text-shadow: 0 1px 20px #000;
	}
}

@media (max-width: 775px) {
	.header-middle {
		-webkit-transform: translate(-50%, -40%);
		        transform: translate(-50%, -40%);
		overflow: hidden;
	}
	.header-middle::before {
		display: none;
	}
	.header-promo {
		font-size: 50px;
		line-height: 54px;
		text-shadow: 0 1px 20px #000;
	}
	.header-middle::after {
		display: none;
	}
	.header-middle p:nth-child(2) {
		margin: 30px auto;
		text-shadow: 0 0 20px #000;
	}
}

@media (max-width: 480px) {
	.header-menu {
		top: 66px;
		right: 20px;
	}
}

@media (max-width: 370px) {
	.header label {
		right: 30px;
	}
	.header-social {
		display: none;
	}
	.header-menu {
		top: 64px;
		right: 20px;
	}
}

@media (max-height: 340px) {
	.header-middle p:nth-child(2) {
	font-size: 18px;
	line-height: 22px;
	margin: 20px auto;
}
}