.sandwitch {
	position: relative;
	background-color: #f3f1e9;
	padding: 75px 0 90px;
}

.sandwitch::before {
	position: absolute;
	content: "";
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	width: 707px;
	height: 142px;
	background-image: url('../../img/sandwich/Vektor-Smartobjekt.png');
}

.sandwitch-top {
	text-align: center;
}

.nav,
.footer-nav,
.sandwitch-inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.sandwitch-left {
	flex-basis: 25.3%;
	margin-right: 120px;
	text-align: center;
	color: #56534c;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 1.4px;
	font-family: 'ProximaNovaT-Regular', 'Arial', serif;
	margin-top: -15px;
}

.sandwitch-blocks p:nth-child(2) {
	font-size: 30px;	
	line-height: 30px;
	font-weight: 700;
	font-family: 'Alegreya', serif;
	letter-spacing: 0.75px;
	color: #a47d5e;
	margin: 13px auto 21px;
}

.sandwitch-left .block-2 {
	margin: 54px auto;
}

.sandwitch-rigth {
	position: relative;
	flex-basis: calc(100% - 23.3% - 120px);
	height: 556px;
	margin-top: 79px;
	background-repeat: no-repeat;
	background-image: url('../../img/sandwich/Ebene 11.jpg');
}


.sandwitch-rigth .inner-block {
	position: absolute;
	width: 200px;
	height: 200px;
	top: -23px;
	right: 10px;
	background-color: rgba(255, 255, 255, 0.80);
	text-align: center;
}

.sandwitch-rigth .cook {
	top: 178px;
} 

.sandwitch-rigth .inner-block p:nth-child(1) {
	text-transform: uppercase;
	font-family: 'Alegreya', serif;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 1.8px;
	font-weight: 700;
	color: #a47d5e;
	margin-top: 40px;
}

.sandwitch-rigth .inner-block p:nth-child(2) {
	text-transform: uppercase;
	font-family: 'Alegreya', serif;
	font-weight: 700;
	font-size: 60px;
	line-height: 30px;
	letter-spacing: 6px;
	color: #56534c;
	margin: 16px auto 14px;
}

.sandwitch-rigth .inner-block p:nth-child(3) {
	font-family: 'Alegreya', serif;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 1.8px;
	color: #979285;
}

.sandwitch-rigth .ready-in {
	top: auto;
	bottom: -22px;
	right: 10px;
}

.sandwitch-rigth a {
	position: absolute;
	bottom: -19px;
	left: -22px;
	width: 171px;
	height: 60px;
	display: inline-block;
	text-transform: uppercase;
	font-family: 'Alegreya', serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 60px;
	text-align: center;
	letter-spacing: 0.9px;
	background-color: #fff;
	color: #dfc691;
	border: 1px dashed #dfc691;
}

.sandwitch-rigth a:hover {
	transform: scale(1.03);
}

.sandwitch-rigth a:active {
	transform: scale(1);
	color: #eee;
	border: 1px dashed #eee;
}

.sandwitch .logo {
	color: #56534c;
} 

.footer-nav {
	-ms-align-items: center;
	align-items: center;
	margin-top: 114px;
}

.footer-nav .nav {
	flex-basis: 514px;
	border-top: 1px solid #c2beba;
	border-bottom: 1px solid #c2beba;
	padding: 26px 0;
	-ms-align-items: center;
	align-items: center;
}

.f-nav-1 {
	position: relative;
}

.f-nav-1 ul {
	position: absolute;
	display: none;
}

.f-nav-1 > li:hover .sub-menu {
	display: block;
	top: -100px;
	
} 

.footer-nav .sub-menu li a,
.footer-nav .menu-item {
	text-transform: uppercase;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 4.2px;
	font-family: 'Alegreya', serif;
	color: #56534c;
}

.footer-nav .tilda {
	color: #56534c;
}
