.sandwitch {
	position: relative;
	background-color: #f3f1e9;
	padding: 75px 0 48px;
}

.sandwitch::before {
	position: absolute;
	content: "";
	left: 50%;
	top: 0;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 707px;
	height: 142px;
	background-image: url('../../img/sandwich/Vektor-Smartobjekt.png');
}

.sandwitch-top {
	text-align: center;
}

.nav,
.footer-nav,
.sandwitch-inner {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.sandwitch-left {
	flex-basis: 25.3%;
	margin-right: 120px;
	text-align: center;
	color: #56534c;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 1.4px;
	font-family: 'ProximaNovaT-Regular', 'Arial', serif;
	margin-top: -13px;
}

.sandwitch-blocks p:nth-child(2) {
	font-size: 30px;	
	line-height: 30px;
	font-weight: 700;
	font-family: 'Alegreya', serif;
	letter-spacing: 0.75px;
	color: #a47d5e;
	margin: 13px auto 21px;
}

.sandwitch-left .block-2 {
	margin: 54px auto 57px;
}

.sandwitch-rigth {
	position: relative;
	flex-basis: calc(100% - 23.3% - 120px);
	height: 556px;
	margin-top: 79px;
	background-repeat: no-repeat;
	background-image: url('../../img/sandwich/Ebene 11.jpg');
}


.sandwitch-rigth .inner-block {
	position: absolute;
	width: 200px;
	height: 200px;
	top: -23px;
	right: 10px;
	background-color: rgba(255, 255, 255, 0.80);
	text-align: center;
}

.sandwitch-rigth .cook {
	top: 178px;
} 

.sandwitch-rigth .inner-block p:nth-child(1) {
	text-transform: uppercase;
	font-family: 'Alegreya', serif;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 1.8px;
	font-weight: 700;
	color: #a47d5e;
	margin-top: 40px;
}

.sandwitch-rigth .inner-block p:nth-child(2) {
	text-transform: uppercase;
	font-family: 'Alegreya', serif;
	font-weight: 700;
	font-size: 60px;
	line-height: 30px;
	letter-spacing: 6px;
	color: #56534c;
	margin: 20px auto 16px;
}

.sandwitch-rigth .inner-block p:nth-child(3) {
	font-family: 'Alegreya', serif;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 1.8px;
	color: #979285;
}

.sandwitch-rigth .ready-in {
	top: auto;
	bottom: -22px;
	right: 10px;
}

.sandwitch-rigth a {
	position: absolute;
	bottom: -18px;
	left: -22px;
	width: 170px;
	height: 58px;
	display: inline-block;
	text-transform: uppercase;
	font-family: 'Alegreya', serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 60px;
	text-align: center;
	letter-spacing: 0.9px;
	background-color: #fff;
	color: #dfc691;
	border: 1px dashed #dfc691;
	z-index: 10;
}

.sandwitch-rigth a:hover {
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
}

.sandwitch-rigth a:active {
	-webkit-transform: scale(1);
	transform: scale(1);
	color: #eee;
	border: 1px dashed #eee;
}

.sandwitch .logo {
	color: #56534c;
} 

.footer-nav {
	-ms-align-items: center;
	-webkit-box-align: center;
	align-items: center;
	margin-top: 113px;
}

.footer-nav .nav {
	flex-basis: 514px;
	border-top: 1px solid #c2beba;
	border-bottom: 1px solid #c2beba;
	padding: 22px 0 23px;
	-ms-align-items: center;
	-webkit-box-align: center;
	align-items: center;
	justify-content: space-around;
}

.f-nav-1 {
	position: relative;
}

.f-nav-1 .sub-menu {
	position: absolute;
	text-align: center;
	top: -120px;
	left: 0;
	width: 150px;
	background-color: rgba(223, 198, 145, 0.2);
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.2);
	border-radius: 5px 5px 0 0;
}

.f-nav-1 > li:hover .sub-menu {
	opacity: 1;
	visibility: visible;
} 

.footer-nav .sub-menu li a,
.footer-nav .menu-item {
	text-transform: uppercase;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 4.2px;
	font-family: 'Alegreya', serif;
	font-weight: 600;
	color: #56534c;
}

.footer-nav .menu-item {
	background-color: transparent;
	white-space: nowrap;
}

.footer-nav .f-nav-1 .sub-menu li:hover {
	width: 100%;
	background-color: #fff;
}

.footer-nav .f-nav-1 .sub-menu li:nth-child(1):hover {
	border-radius: 5px 5px 0 0;
}

.footer-nav .tilda {
	font-family: 'Alegreya', serif;
	font-weight: 600;
	color: #56534c;
}

.footer-nav .nav a {
	white-space: nowrap !important;
}

@media (max-width: 1270px) {
	.sandwitch-inner {
		-moz-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
	}
	.sandwitch-left {
		flex-basis: 100%;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: -webkit-box;
		display: flex;
		-webkit-box-pack: justify;
		justify-content: space-between;
		margin: 30px auto;
	}
	.sandwitch-left .block-2 {
		margin: 0;
	}
	.sandwitch-rigth {
		position: relative;
		flex-basis: auto;
		max-width: 80%;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		margin-top: 40px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url('../../img/sandwich/Ebene 11.jpg');
	}
	.sandwitch-rigth a {
		position: relative;
		bottom: -18px;
		left: 10%;
		width: 170px;
		height: 58px;
	}
}

@media (max-width: 970px) {
	.footer-nav {
		margin-top: 140px;
		position: relative;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: -webkit-box;
		display: flex;
		-moz-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
	}
	.sandwitch .logo {
		position: absolute;
		top: -60px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	} 
	.footer-nav .nav {
		flex-basis: auto;
		width: 90% !important;
		border-top: none;
		border-bottom: none;
		-webkit-box-pack: justify;
		justify-content: space-between;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
}

@media (max-width: 605px) {
	.sandwitch-left {
		flex-basis: auto;
		-moz-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
		-webkit-box-pack: justify;
		justify-content: space-between;
		margin: 30px auto 100px;
	}
	.sandwitch-left .block-2 {
		margin: 30px auto;
	}
}

@media (max-width: 465px) {
	.sandwitch-rigth a {
		position: absolute;
		top: -100px;
		bottom: auto;
		left: auto;
	}
	.footer-nav .nav {
		flex-basis: auto;
		width: 90% !important;
		border-top: none;
		border-bottom: none;
		-webkit-box-pack: center;
		justify-content: center;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
}

@media (max-width: 400px) {
	.sandwitch-rigth .inner-block {
		top: -23px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		right: auto;
	}
	.sandwitch-rigth .inner-block:nth-child(2) {
		top: 178px;
	}
	.sandwitch-rigth .ready-in {
		top: auto;
		bottom: -22px;
		right: auto;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
}

@media (max-width: 365px) {
	.footer-nav .nav .tilda {
		display: none !important;
	}
	.footer-nav .f-nav-2::before {
		position: absolute;
		content: "";
		top: 52%;
		width: 90%;
		height: 1px;
		background-color: #979285;
	}
}