.tasty {
	background-size: cover;
	background-image: url("../../img/pencakes/pancakes-bg.jpg");
	padding: 140px 20px 109px;
	color: #56534c;
}

.tasty-wrap {
	position: relative;
	max-width: 965px;
	height: 513px;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: flex;
}

.ready-in {
	position: absolute;
	top: -42px;
	right: -105px;
	text-align: center;
	width: 200px;
	height: 200px;
	box-shadow: 0 25px 54px 0  rgba(105, 80, 58, 0.45);
	background-image: url('../../img/pencakes/pancakes-ready.png');
	z-index: 20;
}

.ready-in p:nth-child(1) {
	text-transform: uppercase;
	font-family: 'Alegreya', serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 1.8px;
	color: #a47d5e;
	margin-top: 25px;
}

.ready-in p:nth-child(2) {
	text-transform: uppercase;
	font-family: 'Alegreya', serif;
	font-weight: 700;
	font-size: 92px;
	line-height: 101px;
	letter-spacing: 9.2px;
	color: #dfc691;
}

.ready-in p:nth-child(3) {
	font-family: 'Alegreya', serif;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 1.8px;
	color: #979285;
	margin-top: -5px;
}

.picture-left {
	position: relative;
	flex-basis: 42.5%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../../img/pencakes/pancakes-wg.jpg.png");
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}

.picture-left-inner {
	position: absolute;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: flex;
	-moz-flex-direction: column;
	-o-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	-webkit-box-pack: justify;
	        justify-content: space-between;
	height: 143px;
	left: 28px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
}
/* need to apply js stars, but i`m dunno how)) */
.picture-left i {
	color: #fff;
	font-size: 18px;
}

.picture-left .es:hover {
	-webkit-filter: drop-shadow(-5px -5px 5px #fff);
	        filter: drop-shadow(-5px -5px 5px #fff);
}

.tasty-rb {
	position: relative;
	flex-basis: calc(57.5% - 147px);
	background-color: #fff;
	box-shadow: -2px 0 2px 0 rgba(0, 0, 0, 0.25);
	background-position: 100% 100%;
	background-repeat: no-repeat;
	background-image: url('../../img/pencakes/pancakes-meal.png');
	padding: 74px 84px 40px 63px;
}

#slide-btn {
	display: none;
}

.slide-btn-slik {
	position: absolute;
	display: block;
	left: 40%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	width: 54px;
	height: 54px;
	border-radius: 50%;
	box-shadow: -2px 0 2px 0 rgba(0, 0, 0, 0.25);
	background-color: #fff;
	z-index: 10;
}

.slide-btn-slik span {
	position: absolute;
	left: 46%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	width: 1px;
	height: 16px;
	background-color: #d8bba3;
}

.slide-btn-slik span::after,
.slide-btn-slik span::before {
	position: absolute;
	content: "";
	left: -5px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	width: 1px;
	height: 16px;
	background-color: #d8bba3;
}

.slide-btn-slik span::after {
	left: auto;
	right: -5px;
}

#slide-btn:checked ~ .tasty-rb {
	position: absolute;
	flex-basis: calc(100% - 0px)!important;
	height: 400px !important;
}

#slide-btn:checked ~ .slide-btn-slik {
	width: 0;
	height: 0;
	left: 0;
	border-radius: 1px;
	box-shadow: -2px 0 2px 0 rgba(0, 0, 0, 0.25);
	border: 30px solid rgba(216, 187, 163, 0.4);
	border-right-width: 0;
	border-top-color: transparent;
	border-bottom-color: transparent;
	box-shadow: none;
}

#slide-btn:checked ~ .slide-btn-slik span {
	left: -20px;
	background-color: #fff;
}
#slide-btn:checked ~ .slide-btn-slik span::after,
#slide-btn:checked ~ .slide-btn-slik span::before {
	background-color: #fff;
}

.tasty-text p:nth-child(3) {
	font-family: 'ProximaNovaT-Regular', 'Arial', sans-serif;
	line-height: 24px;
	letter-spacing: 1.4px;
	margin: 52px 0 100px;
}
.tasty-slider {
	position: absolute;
	width: 332px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
}

.tasty-slider input {
	display: none;
}

.tasty-slider-inner {
	overflow-x: hidden;
}

.tasty-slider-controls label:nth-child(4),
.tasty-slider-controls label:nth-child(5) {
	display: none;
}

.tasty-slider-slides {
	width: 550px;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: flex;
	justify-content: space-around;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}

.tasty-slider-slides .slides a {
	display: inline-block;
	width: 90px;
	height: 90px;
	background-position: -47px 0;
	background-image: url('../../img/pencakes/slide-img.png');
}

.tasty-slider-slides .slides .image-2 {
	background-position: -167px 0;
}

.tasty-slider-slides .slides .image-3 {
	background-position: -287px 0;
}

.tasty-slider-controls {
	position: absolute;
	width: 430px;
	top: 30%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	z-index: 10;
}

#tasty-btn-1:checked ~ .tasty-slider-controls label:nth-child(3),
#tasty-btn-2:checked ~ .tasty-slider-controls label:nth-child(1),
#tasty-btn-3:checked ~ .tasty-slider-controls label:nth-child(2) {
	position: absolute;
	display: block;
	background-position: 0 -29px;
	width: 32px;
	height: 32px;
	background-image: url('../../img/pencakes/slide-img.png');
}

#tasty-btn-1:checked ~ .tasty-slider-controls label:nth-child(3) {
	-webkit-transform: scaleX(-1);
	        transform: scaleX(-1);
	background-position: -394px -29px;
}

#tasty-btn-1:checked ~ .tasty-slider-controls label:nth-child(2),
#tasty-btn-2:checked ~ .tasty-slider-controls label:nth-child(3),
#tasty-btn-3:checked ~ .tasty-slider-controls label:nth-child(1) {
	position: absolute;
	right: 0;
	display: block;
	background-position: 0 -29px;
	width: 32px;
	height: 32px;
	background-image: url('../../img/pencakes/slide-img.png');
	-webkit-transform: scaleX(-1);
	        transform: scaleX(-1);
}

#tasty-btn-3:checked ~ .tasty-slider-controls label:nth-child(1) {
	-webkit-transform: scaleX(1);
	        transform: scaleX(1);
	background-position: -394px -29px;
}

#tasty-btn-1:checked ~ .tasty-slider-inner .tasty-slider-slides {
	-webkit-transform: translate(0);
	        transform: translate(0);
}
#tasty-btn-2:checked ~ .tasty-slider-inner .tasty-slider-slides {
	-webkit-transform: translate(-110px);
	        transform: translate(-110px);
}
#tasty-btn-3:checked ~ .tasty-slider-inner .tasty-slider-slides {
	-webkit-transform: translate(-220px);
	        transform: translate(-220px);
}

@media (max-width: 1185px) {
	.ready-in {
		top: 20px;
		right: 0;
		width: 100px;
		height: 100px;
		box-shadow: -3px 3px 4px 0 rgba(0, 0, 0, 0.32);
		background-image: url('../../img/pencakes/pancakes-ready.png');
	}
	.ready-in p:nth-child(1) {
		font-size: 18px;
		line-height: 30px;
		margin-top: 0;
	}
	.ready-in p:nth-child(2) {
		font-size: 50px;
		line-height: 54px;
		letter-spacing: 1.8px;
		margin-top: -10px;
	}
}

@media (max-width: 980px) {
	.tasty {
		padding: 60px 20px;
	}
	.tasty-wrap {
		height: auto;
		-moz-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
	}
	.tasty-rb {
		position: relative;
		flex-basis: 100%;
	}
	.slide-btn-slik {
		display: none;
	}
	.tasty-slider {
		position: relative;
	}
	.picture-left {
		position: relative;
		flex-basis: auto;
		bottom: 0;
		width: 100%;
		height: 400px;
		background-image: url('../../img/pencakes/pancakes-wgf.png');
		-webkit-transition: none;
		transition: none;
	}
	#slide-btn {
		display: none;
	}
	#slide-btn:checked ~ .tasty-rb {
		position: relative;
	}
}

@media (max-width: 540px) {
	.tasty-rb {
		padding: 60px 40px;
		box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.25);
	}
	.tasty-slider {
		width: 90px;
	}
	.tasty-slider-slides {
		width: 500%;
	}
	.tasty-slider-slides .slides {
		width: 90px;
	}
	.tasty-slider-controls {
		position: absolute;
		width: 200px;
	}
	.tasty-slider-controls label:nth-child(4),
	.tasty-slider-controls label:nth-child(5) {
		display: block;
	}
	#tasty-btn-1:checked ~ .tasty-slider-inner .tasty-slider-slides {
		-webkit-transform: translate(0);
		        transform: translate(0);
	}
	#tasty-btn-2:checked ~ .tasty-slider-inner .tasty-slider-slides {
		-webkit-transform: translate(-90px);
		        transform: translate(-90px);
	}
	#tasty-btn-3:checked ~ .tasty-slider-inner .tasty-slider-slides {
		-webkit-transform: translate(-180px);
		        transform: translate(-180px);
	}
	#tasty-btn-4:checked ~ .tasty-slider-inner .tasty-slider-slides {
		-webkit-transform: translate(-270px);
		        transform: translate(-270px);
	}
	#tasty-btn-5:checked ~ .tasty-slider-inner .tasty-slider-slides {
		-webkit-transform: translate(-360px);
		        transform: translate(-360px);
	}
	#tasty-btn-1:checked ~ .tasty-slider-controls label:nth-child(5),
	#tasty-btn-2:checked ~ .tasty-slider-controls label:nth-child(1),
	#tasty-btn-3:checked ~ .tasty-slider-controls label:nth-child(2),
	#tasty-btn-4:checked ~ .tasty-slider-controls label:nth-child(3), 
	#tasty-btn-5:checked ~ .tasty-slider-controls label:nth-child(4){
		position: absolute;
		display: block;
		background-position: 0 -29px;
		width: 32px;
		height: 32px;
		background-image: url('../../img/pencakes/slide-img.png');
	}
	#tasty-btn-3:checked ~ .tasty-slider-controls label:nth-child(1),
	#tasty-btn-1:checked ~ .tasty-slider-controls label:nth-child(3) {
		display: none;
	}
	#tasty-btn-1:checked ~ .tasty-slider-controls label:nth-child(5) {
		-webkit-transform: scaleX(-1);
		        transform: scaleX(-1);
		background-position: -394px -29px;
	}
	#tasty-btn-1:checked ~ .tasty-slider-controls label:nth-child(2),
	#tasty-btn-2:checked ~ .tasty-slider-controls label:nth-child(3),
	#tasty-btn-3:checked ~ .tasty-slider-controls label:nth-child(4),
	#tasty-btn-4:checked ~ .tasty-slider-controls label:nth-child(5),
	#tasty-btn-5:checked ~ .tasty-slider-controls label:nth-child(1) {
		position: absolute;
		right: 0;
		display: block;
		background-position: 0 -29px;
		width: 32px;
		height: 32px;
		background-image: url('../../img/pencakes/slide-img.png');
		-webkit-transform: scaleX(-1);
		        transform: scaleX(-1);
	}
	#tasty-btn-5:checked ~ .tasty-slider-controls label:nth-child(1) {
		-webkit-transform: scaleX(1);
		        transform: scaleX(1);
		background-position: -394px -29px;
	}
}